<nav class="fixed bottom-0 left-0 right-0 z-50 flex items-center justify-around bg-[var(--surface)] border-t border-[var(--border)] text-[var(--text-secondary)] shadow-inner py-2 lg:hidden">
  <a routerLink="/home" routerLinkActive="text-[var(--expense)]" class="flex flex-col items-center text-xs">
    🏠
    <span>Home</span>
  </a>
  <a routerLink="/dashboard" routerLinkActive="text-[var(--expense)]" class="flex flex-col items-center text-xs">
    📊
    <span>Dashboard</span>
  </a>
  <a routerLink="/expenses" routerLinkActive="text-[var(--expense)]" class="flex flex-col items-center text-xs">
    💼
    <span>Expenses</span>
  </a>
  <a routerLink="/budget" routerLinkActive="text-[var(--expense)]" class="flex flex-col items-center text-xs">
    🪙
    <span>Budget</span>
  </a>
  <a routerLink="/report" routerLinkActive="text-[var(--expense)]" class="flex flex-col items-center text-xs">
    👤
    <span>Report</span>
  </a>
</nav>